.navBar {
    grid-area: navbar;
    background-color: coral;
    color: white;
    padding: 1rem;
}

.navBarItemLink{
    color: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    padding: .5rem;
    transition: color .5s;
}

.navBarItemLink:hover{
    color: saddlebrown;
}

.navBarItem{
    margin-bottom: 1.5rem;
}

.navBarItem:nth-child(4){
    margin-bottom: 2rem;
}

.active{
    color: gold;
}

